@import "~@blueprintjs/core/lib/scss/variables";
@import "./variables";

body {
  margin: 0;
}

// Big screen
@media screen and (min-width: 690px) {
  .PageWrapper {
    margin-top: $margin-from-top;
    margin-left: $big-screen-lr-margin;
    margin-right: $big-screen-lr-margin;
    padding: $inner-top-padding $inner-lr-padding $inner-tb-padding $inner-lr-padding;
  }
}

// Small screen
@media screen and (max-width: 690px) {
  .PageWrapper {
    margin-top: $margin-from-top;
    margin-left: $small-screen-lr-margin;
    margin-right: $small-screen-lr-margin;
    padding: $inner-top-padding $inner-lr-padding $inner-tb-padding $inner-lr-padding;
  }
}

// Register and login buttons
.auth-button {
  float: right;
}

.dark-mode-switch {
  margin: 8px;
  padding: 5px 10px;
}

// Log out button and profile button
.navbar-button {
  margin: 8px;
}

.SomTodayLogo {
  height: 25px;
  width: 25px;
  margin-right: 7px;
}

