@import "~@blueprintjs/core/lib/scss/variables";

body {
  margin: 0;
}

// Big screen
@media screen and (min-width: 690px) {
  .Marks {
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .Login {
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

// Small screen
@media screen and (max-width: 690px) {
  .Marks {
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .Login {
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.login-button {
  float: right;
}

.add-mark-textbox {
  width: 100%;
}

.clear-add-mark-form-button {
  float: right;
}

.dark-mode-switch {
  margin: 8px;
  padding: 5px 10px;
}

.navbar-button {
  margin: 8px;
}
