@import "~@blueprintjs/core/lib/scss/variables";

body {
  margin: 0;
}

@media screen and (max-width: 690px) {
  .Cijfer {
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 690px) {
  .Cijfer {
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
  }
}

.add-note-textbox {
  width: 100%;
}

.clear-add-note-form-button {
  float: right;
}

.dark-mode-switch {
  margin: 8px;
  padding: 5px 10px;
}

.navbar-button {
  margin: 8px;
}
